body {
    background-color: rgb(35, 36, 37);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: large;
    color: white;
    font-size: 40px;
    
  }
  .reload {
  }
  
  .username {
  }
  
  .bullet_now {
  }
  