{% extends 'start.html' %} {% block css %} {% load static %}
<link rel = "stylesheet" type="text/css" href="{% static 'signup.css' %}" />
{% endblock css %} {% block title %} {% endblock title%}
{% block content %}

<div class="body_container">
    <section class="signup">
        <a href="{% url 'start' %}" id="arrow"><i class="fa-solid fa-arrow-left"></i></a>
        <form method="POST">
            {% csrf_token %} 
            <div class="signup_text">
                <input type="text" name="username" placeholder="이메일" /><br><br><br>
                <input type="password" name="password" placeholder="비밀번호" />
            </div>
            {% if error %}
            <p>{{error}}</p>
            {% endif %}
            <div>
                <a href="{% url 'add_pet' %}"><button class="signup_button">회원가입</button></a>
            </div>
        </form>
    </section>
</div>
{% endblock content%}