.header {
    background-color: yellow;
    position: fixed;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    left: 0;
    right: 0;
}


.main {
    width: 100%;
    padding-top: 100px;
    max-width: 375px;
    margin: 0 auto;
}

.footer {
    width: 100%;
    background-color:red;
    position: fixed;
    max-width: 375px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
