* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
}
  
body {
    max-width: 360px;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    color: gray;


    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.fa-arrow-left {
    font-size: 2rem;
}

.form_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

form div {
    margin: .5rem;
}

.tag_input {
    background: none;
    border-bottom: 2px solid #c0c2ff;
    width: 13rem;
}

form button {
    border: 3px solid #c0c2ff;
    border-radius: .5rem;
    padding: .3rem;

    background-color: white;
    color: #c0c2ff;

}


.tag_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 0 1rem;
}

.tag {
    border: 3px solid #c0c2ff;
    border-radius: .5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .5rem;
    padding: .3rem .5rem;
}

.tag span {
    margin: 0 .5rem;
}

.tag i {
    font-weight: bold;
    margin-left: .5rem;
}


