<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/logo.png %}">
    {% block css %}

    {% endblock css %}
    <title>나비야</title>
</head>
<body>
    <div class="body_container">
    {% block content %}

    {% endblock content %}
    </div>
</body>
</html>