span {
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    color: black;
} 

.bold {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: black;
} 


box {
    height: 50px;
    width: 140px;
    color: aliceblue;
}

.body {
    width: 375px;
    height: 812px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    margin-top: 40px;
    background-color: #4880EE;
    border-radius: 10px;
    display: flex;
    margin-left: 50px;
    align-items: center;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    height: 47px;
    width: 30%;

} 
a {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 26px;

}



.drop {
    width: 15%;
    margin-left:  75px;
    margin-top: 30px;
}


.sae {
    width: 80%;
    margin-left:-15px;
    margin-top: 50px;
}