<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="background">
      <div class="signup">
        <a href="{% url 'user:signup' %}"><img src="..\static\회원가입.png"></a>
      </div>

    <section class="login">
      <form action="" class="login_container" method="POST">
        {% csrf_token %} {% if error %}
        <p>{{error}}</p>
        {% endif %}
        <input type="text" name="username" placeholder="아이디" />
        <br>
        <input type="password" name="password" placeholder="비밀번호" />
        <br>
        <button type="submit">로그인하기</button>
      </form>
      
    </section>
  </body>
</html>
