<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>지도api 연습하기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'test.css' %}" />
  </head>
  <body>
    <!-- 지도를 표시할 div 입니다 -->
    <div id="map" style="width: 1000px; height: 800px"></div>

    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	8cd692fb7a99156246c6e7e5349b89e4"
    ></script>
    <script>
      var mapContainer = document.getElementById("map"), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(37.58732044640754, 127.02794309024317), // 지도의 중심좌표
          level: 4, // 지도의 확대 레벨
        };

      // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
      var map = new kakao.maps.Map(mapContainer, mapOption);

      var imageSrc = "http://fimg5.pann.com/new/download.jsp?FileID=62588319", // 마커이미지의 주소입니다
        imageSize = new kakao.maps.Size(32, 32), // 마커이미지의 크기입니다
        imageOption = { offset: new kakao.maps.Point(27, 69) }; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

      // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
      var markerImage = new kakao.maps.MarkerImage(
          imageSrc,
          imageSize,
          imageOption
        ),
        markerPosition = new kakao.maps.LatLng(
          37.58947268737813,
          127.03237098666465
        ); // 마커가 표시될 위치입니다

      // 마커를 생성합니다
      var marker = new kakao.maps.Marker({
        position: markerPosition,
        image: markerImage, // 마커이미지 설정
        clickable: true, // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
      });

      // 마커가 지도 위에 표시되도록 설정합니다
      marker.setMap(map);
      var iwContent =
        '<div class="container">' +
        "  <h3>고려대학교</h3>" +
        '  <div class="bar"></div>' +
        '    <p class="button">접근입구</p>' +
        '    <p class="button">건물 내 시설</p>' +
        '    <p class="button">건물 주위 시설</p>' +
        "</div>"; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
      iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

      // 인포윈도우를 생성합니다
      var infowindow = new kakao.maps.InfoWindow({
        content: iwContent,
        removable: iwRemoveable,
      });

      // 마커에 클릭이벤트를 등록합니다
      kakao.maps.event.addListener(marker, "click", function () {
        // 마커 위에 인포윈도우를 표시합니다
        infowindow.open(map, marker);
      });
    </script>
  </body>
</html>

	