.all{
  width: max-content;
  text-align: center;
  background-color: rgba(1,1,1,0.05);
  margin-left: auto; 
  margin-right: auto;
  text-align: center;

}

.site-section{
  background-color: rgba(1,1,1,0.05);

}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}



.container{
  display: table; 
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
  max-width: 800px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

}

a{

  text-decoration: none;
  font-size:1.5rem;
  color:white;
  padding:10px 20px 10px 20px;
  margin:20px;
  display:inline-block;
  background-color: rgba(1,1,1,0.8);
  border-radius: 15px;


}
.btn:active{
  transform: translateY(3px);
}
