h3 {
    font-size: 160%;
    margin-bottom: 0px;
    font-weight:900;
    margin-top:0px;
  }
  .address{
      font-size: 80%;
  }
  .button_main{
      margin: 4px 0px 4px 0px;
      padding: 8px 0px 8px 0px;
      background-color: #8B0029;
      color: white;
      width: 80%;
      height: 10%;
      box-shadow: 5px 5px 4px rgb(114, 109, 109);
      line-height: 30px;
      border-radius: 10px;
  }
  .button_else{
      margin: 4px 0px 4px 0px;
      padding: 8px 0px 8px 0px;
      background-color: rgb(233, 231, 231);
      color: black;
      width: 80%;
      height: 10%;
      box-shadow: 5px 5px 4px rgb(114, 109, 109);
      line-height: 30px;
      border-radius: 10px;
      text-decoration: none;
  }
  .button_loc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     margin: 4px 0px 4px 0px;
      padding: 8px 0px 8px 0px;
      background-color: #E8E8E8;
      width: 80%;
      height: 10%;
      line-height: 30px;
      border-radius: 10px;
  }
  .button_loc2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     margin: 4px 0px 4px 0px;
      padding: 8px 0px 8px 0px;
      background-color: white;
      width: 80%;
      height: 10%;
      line-height: 30px;
      border-radius: 10px;
    margin: 0px;
    padding: 0;
  }
    
    .bar {
      width: 80%;
      height: 3px;
      background-color: white;
    }
    .button {
      margin: 4px 0px 4px 0px;
      background-color: rgb(233, 231, 231);
      width: 160px;
      height: 30px;
      box-shadow: 5px 5px 4px rgb(53, 52, 52);
      line-height: 30px;
    }
.hidden{
  display: none;
}
.locationImage{
  width: 23px;
  height: 27px;
}
.closeButton{
  width: 15px;
  height: 15px;
  padding-left: 80%;
}
.arrow{
  width: 14px;
  height: 10px;
}
.runningImage{
  width:27px;
  height: 35px;
}
.entranceImage{
    width: 150px;
    height: 150px;
}
.entrance_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.entranceInnerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}