<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>생성하기</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user1_login.css' %}">
</head>
<body>
<center>
    <form id="create-form" method="POST" action='{% url "userlogin" %}'>
        {% csrf_token %}
        <span class="title">닉네임<br></span>
        <span class="rule">닉네임을 입력하거라</span>
        <label for="user1NickName"></label>
        <input id='user1NickName' type="text" name="username" required placeholder="   닉네임">

        <button id='start' type ="submit" ><img src="../static/테스트 시작.svg"></button
        </divc>
>
    
        
     </form>
     <img class='img' src="../static/한석원.svg">
</center>
</body>
<!-- <script src="../static/js/user1_login.js"></script> -->
</html>