<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/result4.css">
    <title>Document</title>
</head>
<body>
<center>
    <div id="title">
        <span score="score">3</span><span class="score">/5개</span>
    </div>
    <div id='container1' class="container">
        <span class ='ans' id="ans1"></span>
        <span class ='ans' id="ans2"></span>
    </div>
    <div id='container2' class="container">
        <span class ='ans' id="ans3"></span>
        <span class ='ans' id="ans4"></span>
    </div>
    <div id='container3' class="container">
        <span class ='ans' id="ans5"></span>
        <span class ='ans' id="ans6"></span>
    </div>
    <div id='container4' class="container">
        <span class ='ans' id="ans7"></span>
        <span class ='ans' id="ans8"></span>
    </div>
    <div id='container5' class="container">
        <span class ='ans' id="ans9"></span>
        <span class ='ans' id="ans10"></span>
</center>
<a id="img" href="./main.html"><img src="../static/테스트 만들기.png"></a>
<img src="../static/호민.svg">
</body>
<script src="../static/js/result.js"></script>
</html>