<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/user1_create.css">
</head>
<body>
    <form method="POST" id="tag-form" action="user1_check.html">
        <center>
        <span class="user1Name">000</span>
        <input id="testName" type="text" placeholder=" 테스트 제목">
        <span class="text2">5개의 정답을 넣거라</span>
        <span id='correct'class="text3">정답을 입력하거라</span>
        <input class='input' id='true1' type="text" placeholder="정답 입력">
        <input class='input' id='true2' type="text" placeholder="정답 입력">
        <input class='input' id='true3' type="text" placeholder="정답 입력">
        <input class='input' id='true4' type="text" placeholder="정답 입력">
        <input class='input' id='true5' type="text" placeholder="정답 입력">

        <span id="wrong" class="text3">오답을 입력하거라</span>
        <input class='input' id='false1' type="text" placeholder="오답 입력">
        <input class='input' id='false2' type="text" placeholder="오답 입력">
        <input class='input' id='false3' type="text" placeholder="오답 입력">
        <input class='input' id='false4' type="text" placeholder="오답 입력">
        <input class='input' id='false5' type="text" placeholder="오답 입력">

        <br><br>
        <button id='share' type ="submit"><img src="../static/공유하기 버튼.svg"></a></button>
    </center>
    </form>
</body>
<script src="../static/js/user1_create.js"></script>
</html>