<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/user2_test.css">
    <title>Document</title>
</head>
<body>
<center>
    <span id = user2Name>ㅇ</span>
    <span class="rule">5개의 정답을 고르거라!</span>
    <div id="con">
        <div id="contain"><div id='container1' class="container"><button id='1' class="click" onclick="clickedAns(this)"><p class="buttonText">항목1</p></button><button id='2' class="click" onclick="clickedAns(this)"><p class="buttonText">항목2</p></button><br>
    </div>
    <div id='container2' class="container"><button id='3' class="click" onclick="clickedAns(this)"><p class="buttonText">항목3</p></button><button id='4' class="click" onclick="clickedAns(this)"><p class="buttonText">스티븐 제라드</p></button><br>
    </div>
    <div id='container3'class="container"><button id='5' class="click" onclick="clickedAns(this)"><p class="buttonText">항목5</p></button><button id='6' class="click" onclick="clickedAns(this)"><p class="buttonText">항목6</p></button><br>
    </div>
    <div id='container4'class="container"> <button id='7' class="click" onclick="clickedAns(this)"><p class="buttonText">항목7</p></button><button id='8' class="click" onclick="clickedAns(this)"><p class="buttonText">항목8</p></button><br>
    </div>
    <div id='container5'class="container"><button id='9' class="click" onclick="clickedAns(this)"><p class="buttonText">항목9</p></button><button id='10' class="click" onclick="clickedAns(this)"><p class="buttonText">항목10</p></button><br>
    </div></div>
    </div>
    

    <br>

    <div id="result">
        <a class='img' href="./result.html"><img src="../static/결과 보기.svg" ></a>
    </div>
</center>
</body>
<script src="../static/js/user2_test.js"></script>
</html>