<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/user2_login.css">
    <title>생성하기</title>
</head>
<body>
<center>
    <form id="create-form">
        <span class="title">닉네임 입력</span>
        <span class="rule">닉네임을 입력해라!</span>
        <label for="user2NickName"></label>
        <input id='user2NickName' type="text" required>
        <button type = "submit" id="start" onclick="location.href='user2_test.html'"><img src='../static/테스트 시작.svg'></button>
        
     </form>
     <img class='img' src="../static/탈모빔.svg">
</center>
</body>
<script src="../static/js/new_create.js"></script>
</html>