<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/user1_check.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
    <p class="title" id="testName">{{test.testname}}의</p>
    <br><p class='title' id="user1Name">{{test.username.name}}</p>
    <br>
    <p id="rule">네 놈이 선택한 정답과 오답이 맞느냐?</p>
    <br>
    <div id="con">
        <div id="contain">
            <div id='container1' class="container">
                <span class ='ans' id="ans1"></span>
                <span class ='ans' id="ans2"></span>
            </div>
            <div id='container2' class="container">
                <span class ='ans' id="ans3"></span>
                <span class ='ans' id="ans4"></span>
            </div>
            <div id='container3' class="container">
                <span class ='ans' id="ans5"></span>
                <span class ='ans' id="ans6"></span>
            </div>
            <div id='container4' class="container">
                <span class ='ans' id="ans7"></span>
                <span class ='ans' id="ans8"></span>
            </div>
            <div id='container5' class="container">
                <span class ='ans' id="ans9"></span>
                <span class ='ans' id="ans10"></span>
            </div>
        </div>
    </div>
    
    <br><br>
    <a id="img" href="./result.html"><img src="../static/공유하기.svg"></a>
</center>
</body>
<script src="../static/js/user1_check.js"></script>
</html>