<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="addevent_complete.css">
    <title>AddEventComplete</title>
</head>
<body>
    <div class="wrapper">
        <div class="text">
            <p>멋사 스터디</p>
            <p>저금통이 생성됐어요!</p>
        </div>
        <div class="image">
            <img src="https://blogfiles.pstatic.net/MjAyMjA1MjlfMzQg/MDAxNjUzNzUzMjAzNTE3.eXu8OcglIrCQku2FAYk3q9Jp1VUpBX69tsHLj53w-CYg.RbPtqzWRkmt_Q9UHwA6F2IjyH7TyGFzJBkTaGzhi2TAg.PNG.skycolor10/%EC%98%A4%EB%A5%B8%EC%AA%BD_%EB%8F%BC%EC%A7%80.png?type=w1" alt="파란돼지">
            <img src="https://blogfiles.pstatic.net/MjAyMjA1MjlfMTcy/MDAxNjUzNzUzMjAzMDIz.o4SvS3Qelmhdfqv7x4DM3Win63J2F2suiQv6x2yGQoMg.QTMb2ps0Y-G_6ixUOFHaYFEPHO7ADyjH84q6v_yXH1Mg.PNG.skycolor10/%EC%99%BC%EC%AA%BD_%EB%8F%BC%EC%A7%80.png?type=w1" alt="노란돼지">
        </div>
        <div class="checkbutton">
            <button><a href="{% url 'pig_detail' pig_pk %}">확인</a></button>
        </div>
    </div>
</body>
</html>