{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'pig_donate.css' %}">
{% endblock css %}

{% block title %}pig_donate{% endblock title %}

{% block wrapper %}
<div class="body">
    <div class="content">
       <span class="text">저금통을 깨고<br>
        굿네이버스에게<br>
        전액을 기부할까요?</span>
    </div>
    <div class="buttonBox">
        <div class="button_left button">
            <a href="{% url 'bye_donate_complete' %}">확인</a>
        </div>
        <div class="button_right button">
            <a href="{% url 'home' %}">취소</a>
        </div>
    </div>
</div>
{% endblock wrapper %}
{% block script %}
{% endblock script %}