{% extends 'base.html' %} 
{% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
{% endblock css %} {% block title %}시간저금통{% endblock title %} 
{% block wrapper %}
<div class="navbar">
  <a href="{% url 'logout' %}">
    <img
      class="logout"
      src="https://blogfiles.pstatic.net/MjAyMjA1MjhfMjY5/MDAxNjUzNzM2MDE0OTE2.t9vWy0Az1X7yCaUN-pSi39eJifqeRiPd2FQHVmDftNUg.H9qXvKzveMAr1273qUEx3O_ATpH_AabktEASKpTedFMg.PNG.skycolor10/Group_56_%281%29.png?type=w1"
    />
  </a>
  <p>시간저금통</p>
  <a href="{% url 'pig_new' %}">
    <img
      class="plus"
      src="https://blogfiles.pstatic.net/MjAyMjA1MjhfMTc2/MDAxNjUzNzM2MDE0NjUw.ngd1xIhmuZH8Oxheqwq9Jos_FXSG9AJBBx7fMlgH9sAg.O_imRCqvbho-_iy7KnMLMz6AALim56ZPtON_EukIHKUg.PNG.skycolor10/Group_1.png?type=w1"
    />
  </a>
</div>

        <div  class ="mainBanner">
            <img class="pig" src="https://blogfiles.pstatic.net/MjAyMjA1MjhfOSAg/MDAxNjUzNzM3NDc1OTA1.bgclJwg9M_MSy8DqGu1RX8vNCRVJJQA5g5ViGf6aiyQg.tpKBJHv8lqLirgaVICniPdII5skLcSaUp8ucBgQppfYg.PNG.skycolor10/Group_62.png?type=w1">
            <div class="textWrapper">
                <p>지금까지 {{ user.profile.nickname }} 님은</p>
                <h2 class="time">{{ total_late }} 분</h2>
                <p>지각하셨네요.</p>
            </div>

        </div>
        <div class="allpigs"><div class="text1">내 돼지들</div>
            <div class="piglist">{% for pig in pigs %}
              <a  href="{% url 'pig_detail' pig.pk %}">{{ pig.pig_name }}</a><br>
                {% endfor %} </div>
        </div>
        {% if impending_schedule %}
        <div class="modal">
          <div class="modal-container">
            <img class="alarmpig" src="https://blogfiles.pstatic.net/MjAyMjA1MjlfNTUg/MDAxNjUzNzU1OTIzNDYx.v4vAZG5MQSG5YphyHRaXlCedkGho4mHdw3uU-Fiogbgg.H925-UUzJfMlmZUqNl9jWBYkpKc6yTbB1V1NtTGQRBwg.PNG.skycolor10/Group_57.png?type=w1">
            <div>
              {{ impending_schedule.when_to_meet.time }}
            </div>
            <a href="{% url 'arrive' impending_schedule.pk %}">
              <button type="button">도착</button>
            </a>
          </div>
        </div>
        {% endif %}
{% endblock wrapper %}

{% block script %}
<script src="{% static 'home.js' %}"></script>
{% endblock script %}
