<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <h1>돼지 생성!</h1>
    <form action="/makePig" method="post">
        {% csrf_token %}
        <input type="text" name="Pig_name" placeholder="돼지 이름">
        <input type="text" name="Pig_content" placeholder="돼지 내용">
        <button type="submit">생성!</button>
    </form>
    </body>
</html>