.main {
  width: 100%;
    min-height: 100vh;
    max-width: 450px;
    margin: 0 auto;
    box-sizing: border-box;
  background-color: white;
}

h1 {
  font-size: 150%;
  text-align: center;
}

p {
  font-size: 90%;
  text-align: center;
  position: relative;
  top: -30px;
}
.icon {
  text-align: center;
}
.pad{
  padding-top: 200px;
}