[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-mapbox-location-field = "*"
django-location-field = "*"

[dev-packages]

[requires]
python_version = "3.9"
